<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="library of things,library,borrow,lend,neighborhood,community,borrow things,lend things,borrow equipment,lend equipment">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />

	<title>Remy's List</title>
</head>

<body>
	{{{ body }}}
	<div class="container text-center">
		<footer>
			<img src="assets/img/remylogo.png" alt="remy" style="width:10%">
			<p> Copyright &copy; 2017 REMY</p>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
	<script type="text/javascript" src="js/profile.js"></script>
	<script type="text/javascript" src="js/signup.js"></script>
	{{!--
	<script type="text/javascript" src="js/borrow.js"></script>--}} {{!--
	<script type="text/javascript" src="js/browse.js"></script>--}} {{!--
	<script type="text/javascript" src="js/lend.js"></script>--}}
</body>

</html>