<div class="container text-center">
    <div class="home-banner signup-style">
        <h1 class="text-center">Remy's List <br> <img src="assets/img/bearpigcircle.png" alt="bearpig" align="middle" font-size="20px" style="width:30%"></h1>
        <p class="text-center">The Neighborhood Hub</p>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">SignUp</h3>
                    </div>
                    <div class="panel-body">
                        <small id="signup-message" class="form-text text-muted">{{signupMessage}}</small>
                        <form method="post" action="/signup">
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id= "newuser-password" name="password" placeholder="Password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id= "repeat-password" placeholder="Re-enter password" class="form-control">
                                <small id="password-message" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <input type="text" name="fullname" placeholder="Full name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="E-mail id" class="form-control" required>
                            </div>
                            <div class="form-group">


<div class="form-group">
                {{!--<label>location</label>--}}
                <select class="form-control" id="add-item-location" name="locations" placeholder="Location" required>
                    <option disabled selected hidden>Location</option>
                    <option value="North Coast">North Coast</option>
                    <option value="North Inland">North Inland</option>
                    <option value="Central Coast">Central Coast</option>
                    <option value="Central City">Central City</option>
                    <option value="East County">East County</option>
                    <option value="South Bay">South Bay</option>
                </select>   
                            </div>





                                {{!--<input type="text" name="locations" placeholder="Location" class="form-control" required>--}}
                            </div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>