body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*background:url("../images/egypt-h-bg3.jpg");*/
}

.container {}

#image {
    height: : 120px;
    width: 120px;
}

.infoDisplay {
    text-align: left;
}

.bg {
    height: : 100%;
    width: 100%;
    background: url("../img/radial-gradient.png");
    /*background-color: #f4511e; /* Orange */
    */
    /*color: #ffffff;*/
    color: #fff;
    padding: 100px 25px;
}


.dropdown{
position:relative;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}


/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.addButton {float:left;width:50%}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .addButton {
       width: 100%;
    }
}

/*.add-text{
   display: inline-block;
   float: left;

}*/
   /*font-size: 16px;

/*or: grey;

}*/
/*.add-input{
float: right;
    display: inline-block;
}*/
/*.loginInput{
    float: right;
    display: inline-block;
}*/
#footerFontSize {
    font-size: 9px;
}
.font {
    font-size: 20px;
}