.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.h1 {
    color: white text-shadow: black 0.1em 0.1em 0.2em;
}